.home-container {
  display: flex;
  gap: 30px;
  padding: 40px;
  border-radius: 20px;
  background: white;
  align-items: center;

  .profile-pic img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #9c27b0; 
  }

  .info {
    flex: 1;

    h1 {
      margin-bottom: 20px;
      font-size: 2rem;
      font-weight: 700;
    }

    p {
      text-align: justify;
      margin-bottom: 15px;
      font-family:'Times New Roman', Times, serif;
      font-size: 16px;
    }
  }
}

.tech-grid {
  margin-top: 1px;
}

.certs {
  margin-top: 50px;

  h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
  }

  .cert-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    .cert-box {
      width: 280px;
      height: 250px;
      border-radius: 10px;
      overflow: hidden;
      background: #f7f7f7;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;   
      }
    }
  }
}


.timeline {
  margin-top: 50px;

  h2 {
    margin-bottom: 40px;
    font-size: 1.8rem;
  }

  .timeline-item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 25px;

    .dot {
      width: 15px;
      height: 15px;
      background: #9c27b0;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 5px;
    }

    .content h3 {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 600;
    }

    .content p {
      margin: 4px 0 0;
      color: #555;
    }
  }
}

.whatsapp-float {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #25D366;
  color: white;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  text-decoration: none;
  z-index: 999;
  
  span.material-icons {
    font-size: 30px;
  }

  &:hover {
    background: #22c45b;
  }
}


