<section class="home-container mat-elevation-z4">


  <div class="profile-pic">
    <img src="images/FOTO_Fondo_blanco.jpg" alt="Foto de perfil">
  </div>

  <div class="info">
    <h1>Carlos Andrés Ramos García</h1>

    <p>
      Estudiante de Ingeniería de Sistemas y Computación de la Universidad de Cundinamarca 
      (Esperando diploma de grado), con formación técnica en informática. Además, 
      poseo habilidades en desarrollo backend (.NET, Flask) y frontend (Angular, React), manejo 
      de bases de datos SQL y NoSQL tanto local y Cloud. Por otra parte, tengo experiencia con 
      lenguajes de programación como C#, C, C++, TypeScript, Java, JavaScript y Python, así como 
      conocimientos en ciberseguridad (análisis de CVEs), redes neuronales y Deep Learning. 
    </p>

    <p>
      Por último, me destaco por mi responsabilidad, puntualidad y honestidad en el cumplimiento de 
      mis obligaciones y en el manejo del trabajo bajo presión y poseo el carácter necesario para 
      liderar equipos de trabajo de manera efectiva.
    </p>

    <h3>Conocimientos:</h3>

    <div class="tech-grid">
      <mat-chip-set>
        <mat-chip color="primary">Angular</mat-chip>
        <mat-chip color="primary">.NET</mat-chip>
        <mat-chip color="primary">Flask</mat-chip>
        <mat-chip color="primary">Jupiter</mat-chip>
        <mat-chip color="primary">C#</mat-chip>
        <mat-chip color="primary">C</mat-chip>
        <mat-chip color="primary">Java</mat-chip>
        <mat-chip color="primary">Python</mat-chip>
        <mat-chip color="primary">MATLAB</mat-chip>
        <mat-chip color="primary">SQL Server</mat-chip>
        <mat-chip color="primary">MySQL</mat-chip>
        <mat-chip color="primary">MongoDB</mat-chip>
        <mat-chip color="primary">Azure</mat-chip>
        <mat-chip color="primary">JavaScript</mat-chip>
        <mat-chip color="primary">Arduino</mat-chip>
      </mat-chip-set>
    </div>

  </div>

</section>

<section class="timeline">
  <h2>Estudios</h2>

  <div class="timeline-item">
    <div class="dot"></div>
    <div class="content">
      <h3>2020 – Bachiller técnico en sistemas y SENA</h3>
      <p>Documentación y desarrollo de aplicaciones en PHP con SQL Server.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="dot"></div>
    <div class="content">
      <h3>2021 a 2025 – Ingeniería de Sistemas y Computación</h3>
      <p>Universidad de Cundinamarca, desarrollo fullstack, seguridad, bases de datos, electronica y inteligencia artificial(IA).</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="dot"></div>
    <div class="content">
      <h3>2023 a 2025 – Investigación Universitaria(GISTFA)</h3>
      <p>Trabajo en seguridad, IA, agricultura inteligente y automatización.</p>
    </div>
  </div>

</section>


<section class="certs">
  <h2>Certificados</h2>
  <div class="cert-grid">
    <div class="cert-box"><img src="images/CERTIFICADO1.jpg" alt=""></div>
    <div class="cert-box"><img src="images/CERTIFICADO2.jpg" alt=""></div>
    <div class="cert-box"><img src="images/CERTIFICADO3.jpg" alt=""></div>
    <div class="cert-box"><img src="images/CERTIFICADO4.jpg" alt=""></div>
    <div class="cert-box"><img src="images/CERTIFICADO5.jpg" alt=""></div>
  </div>
</section>

<a class="whatsapp-float" href="https://wa.me/573203765372" target="_blank">
  <span class="material-icons">chat</span>
</a>