<div class="projects-wrapper">

  @for (project of projects; track $index) {
    <mat-card class="project-card">

      <swiper-container
        slides-per-view="1"
        navigation="true"
        pagination="true"
        loop="false"
        rewind="true"
        class="image-swiper">

        @for (img of project.images; track $index) {
          <swiper-slide>
            <img class="project-image" [src]="img.path" [alt]="img.alt">
          </swiper-slide>
        }
      </swiper-container>

      <div class="info">
        
        <h2 class="title">{{ project.title }}</h2>

        <p class="description">
          {{ project.description }}
        </p>

        <div class="chips">
          @for (tecno of project.tech; track $index) {
            <span class="chip">{{ tecno }}</span>
          }
        </div>

        <!-- BOTONES -->
        <div class="buttons">

          @if (project.github) {
            <a 
              class="btn btn-primary"
              target="_blank" 
              [href]="project.github">
              Frontend
            </a>
          }

          @if (project.githubBackend) {
            <a 
              class="btn btn-outline"
              target="_blank" 
              [href]="project.githubBackend">
              Backend
            </a>
          }

        </div>
      </div>

    </mat-card>
  }

</div>

<a class="whatsapp-float" href="https://wa.me/573203765372" target="_blank">
  <span class="material-icons">chat</span>
</a>